<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{nombre}}
            <a class="close-modal" href="#">
                <i style="float: right" class="glyphicon glyphicon-remove" title="Cerrar"></i>
            </a>
            <a href="mailto:infraestructuras@ritsi.org?subject=[MapaTasas] Bug {{nombre}}" target="_blank">
                <i class="glyphicon glyphicon-alert" style="float: right;" title="Reportar problema"></i>
            </a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <table class="table">
                    <tr>
                        <th>Matrícula<br></th>
                        {{#each tasas}}
                            <th>{{curso}}</th>
                        {{/each}}
                    </tr>
                    <tr>
                        <th>Primera<br></th>
                        {{#each tasas}}
                            <td>{{tasas1}}</td>
                        {{/each}}
                    </tr>
                    <tr>
                        <th>Segunda</th>
                        {{#each tasas}}
                            <td>{{tasas2}}</td>
                        {{/each}}
                    </tr>
                    <tr>
                        <th>Tercera<br></th>
                        {{#each tasas}}
                            <td>{{tasas3}}</td>
                        {{/each}}
                    </tr>
                    <tr>
                        <th>Cuarta</th>
                        {{#each tasas}}
                            <td>{{tasas4}}</td>
                        {{/each}}
                    </tr>
                    <tr>
                        <th></th>
                        {{#each tasas}}
                            <td><a href="{{url}}" target="_blank">Referencia</a></td>
                        {{/each}}
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="calculadora form-horizontal">
        <div class="form-group">
            <label for="#select-universidad" class="col-xs-2 control-label">Universidad</label>
            <div class="col-xs-10">
                <div class="form-inline">
                    <div class="form-group">
                        <!--TODO: Consider<select id="select-universidad" class="form-control">
                        </select>-->
                        <select class="form-control curso-selector"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="#ects1" class="col-xs-6 control-label">Número de créditos en primera convocatoria</label>
            <div class="col-xs-6">
                <input type="number" style="width:50%;" class="pull-right form-control input-ects" id="ects1">
                <input style="width:50%;" class="pull-right form-control" type="text" contenteditable="false" value="€">
            </div>
        </div>
        <div class="form-group">
            <label for="#ects2" class="col-xs-6 control-label">Número de créditos en segunda convocatoria</label>
            <div class="col-xs-6">
                <input type="number" style="width:50%;" class="pull-right form-control input-ects" id="ects2">
                <input style="width:50%;" class="pull-right form-control" type="text" contenteditable="false" value="€">
            </div>
        </div>
        <div class="form-group">
            <label for="#ects3" class="col-xs-6 control-label">Número de créditos en tercera convocatoria</label>
            <div class="col-xs-6">
                <input type="number" style="width:50%;" class="pull-right form-control input-ects" id="ects3">
                <input style="width:50%;" class="pull-right form-control" type="text" contenteditable="false" value="€">
            </div>
        </div>
        <div class="form-group">
            <label for="#ects4" class="col-xs-6 control-label">Número de créditos en cuarta convocatoria</label>
            <div class="col-xs-6">
                <input type="number" style="width:50%;" class="pull-right form-control input-ects" id="ects4">
                <input style="width:50%;" class="pull-right form-control" type="text" contenteditable="false" value="€">
            </div>
        </div>
        <div class="form-group">
            <label for="#total" class="col-xs-6 control-label">Total</label>
            <div class="col-xs-6">
                <input type="number" style="width:50%;" class="pull-right form-control" id="total">
                <input style="width:50%;" class="pull-right form-control" type="text" contenteditable="false" value="€">
            </div>
        </div>

    </div>
</div>
